@page "/dashboard"

@using teste.Application.DTOs

@inject Blazored.LocalStorage.ILocalStorageService localStorage
<h3>Dashboard</h3>

@code {
	// protected override async Task OnAfterRenderAsync(bool firstRender)
	// {
	// 	if (firstRender)
	// 	{

	// 		var user = await localStorage.GetItemAsync<LoginDto>("user");
	
	// 	}
	// }

}
